In [1]:
import numpy as np
import xarray as xr
from utility import util, load, analysis_parameters as ap
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
ctwp = pd.read_csv("../tables/CCCM_TWP.csv", index_col=0)
ntwp = pd.read_csv("../tables/NICAM_TWP.csv", index_col=0)
ftwp = pd.read_csv("../tables/FV3_TWP.csv", index_col=0)
itwp = pd.read_csv("../tables/ICON_TWP.csv", index_col=0)
stwp = pd.read_csv("../tables/SAM_TWP.csv", index_col=0)
cshl = pd.read_csv("../tables/CCCM_SHL.csv", index_col=0)
nshl = pd.read_csv("../tables/NICAM_SHL.csv", index_col=0)
fshl = pd.read_csv("../tables/FV3_SHL.csv", index_col=0)
ishl = pd.read_csv("../tables/ICON_SHL.csv", index_col=0)
sshl = pd.read_csv("../tables/SAM_SHL.csv", index_col=0)
cnau = pd.read_csv("../tables/CCCM_NAU.csv", index_col=0)
nnau = pd.read_csv("../tables/NICAM_NAU.csv", index_col=0)
fnau = pd.read_csv("../tables/FV3_NAU.csv", index_col=0)
inau = pd.read_csv("../tables/ICON_NAU.csv", index_col=0)
snau = pd.read_csv("../tables/SAM_NAU.csv", index_col=0)

In [3]:
metric = "OLR"

In [4]:
metric = "TTL_FREQ"
shl = pd.concat({"CCCM":cshl[metric]/100, "NICAM":nshl[metric], "FV3":fshl[metric], "ICON":ishl[metric], "SAM":sshl[metric]}, axis=1)
metric="freq"
shl2 = pd.concat({"CCCM":cshl[metric], "NICAM":nshl[metric], "FV3":fshl[metric], "ICON":ishl[metric], "SAM":sshl[metric]}, axis=1)
shl_ttl_rel_freq = shl/(shl2/100)*100
shl_ttl_rel_freq

              CCCM      NICAM        FV3       ICON        SAM
CAT1     70.802920  96.906525  78.917076  37.001187  78.631828
CAT2     31.642066  93.677969  40.575812  21.495052  39.593547
CAT3      7.875394  86.110409  32.451033  12.499788  46.230352
CS             NaN        NaN        NaN        NaN        NaN
ISO_TTL        NaN        NaN        NaN        NaN        NaN

In [5]:
metric = "TTL_FREQ"
twp = pd.concat({"CCCM":ctwp[metric]/100, "NICAM":ntwp[metric], "FV3":ftwp[metric], "ICON":itwp[metric], "SAM":stwp[metric]}, axis=1)
metric="freq"
twp2 = pd.concat({"CCCM":ctwp[metric], "NICAM":ntwp[metric], "FV3":ftwp[metric], "ICON":itwp[metric], "SAM":stwp[metric]}, axis=1)
twp_ttl_rel_freq = twp/(twp2/100)*100
twp_ttl_rel_freq

              CCCM      NICAM        FV3       ICON        SAM
CAT1     88.146380  99.891587  88.699959  40.747918  84.234310
CAT2     49.479872  99.828679  53.220269  33.952832  53.389240
CAT3     22.077315  99.332393  39.536046  35.857058  52.883127
CS             NaN        NaN        NaN        NaN        NaN
ISO_TTL        NaN        NaN        NaN        NaN        NaN

In [7]:
metric = "TTL_FREQ"
nau = pd.concat({"CCCM":cnau[metric]/100, "NICAM":nnau[metric], "FV3":fnau[metric], "ICON":inau[metric], "SAM":snau[metric]}, axis=1)
metric="freq"
nau2 = pd.concat({"CCCM":cnau[metric], "NICAM":nnau[metric], "FV3":fnau[metric], "ICON":inau[metric], "SAM":snau[metric]}, axis=1)
nau_ttl_rel_freq = nau/(nau2/100)*100
nau_ttl_rel_freq

              CCCM      NICAM        FV3       ICON        SAM
CAT1     65.741368  99.926152  91.595499  19.977798  84.883882
CAT2     23.965754  99.894853  59.491429  14.819198  66.517151
CAT3      8.249797  99.130316  43.453848  15.007401  56.477683
CS             NaN        NaN        NaN        NaN        NaN
ISO_TTL        NaN        NaN        NaN        NaN        NaN

In [17]:
metric = "freq"

In [18]:
shl = pd.concat({"CCCM":cshl[metric], "NICAM":nshl[metric], "FV3":fshl[metric], "ICON":ishl[metric], "SAM":sshl[metric]}, axis=1)
shl

              CCCM      NICAM        FV3       ICON        SAM
CAT1      0.912117   3.072979   3.460370   3.181002   2.145595
CAT2     36.085220  38.750702  21.596220  20.375766  32.009713
CAT3     38.042610  49.996881  39.861143  26.504221  32.917935
CS       24.960053   8.179439  35.082267  49.939011  32.926756
ISO_TTL   3.035952   0.090082   0.023332   0.011919   0.048635

In [19]:
twp = pd.concat({"CCCM":ctwp[metric], "NICAM":ntwp[metric], "FV3":ftwp[metric], "ICON":itwp[metric], "SAM":stwp[metric]}, axis=1)
twp

              CCCM      NICAM        FV3       ICON        SAM
CAT1      2.157088   5.362569   4.869012   2.833415   2.110611
CAT2     48.169821  66.407915  29.594029  32.044291  39.585953
CAT3     36.711685  28.109323  37.731196  33.443404  35.951136
CS       12.961406   0.120192  27.805764  31.678890  22.352299
ISO_TTL   6.237429   0.032426   0.012310   0.028355   0.042933

In [20]:
nau = pd.concat({"CCCM":cnau[metric], "NICAM":nnau[metric], "FV3":fnau[metric], "ICON":inau[metric], "SAM":snau[metric]}, axis=1)
nau

              CCCM      NICAM        FV3       ICON        SAM
CAT1      0.829213   3.126168   1.778897   1.455518   0.539784
CAT2     28.634147  46.747725  15.419740  18.208388  22.969708
CAT3     28.525232  48.991513  35.507040  28.580977  37.850114
CS       42.011408   1.134593  47.294323  51.755117  38.640394
ISO_TTL   1.977311   0.107044   0.014031   0.010999   0.065103

In [12]:
pd.read_csv("../tables/isolated_ttl_cirrus_iceonly_noliq_percentiles_TWP.csv", index_col=0)

        iso_ttl_ci_perc     olr_med   alb_med       olrcs     albcs
DARDAR         0.717044         NaN       NaN         NaN       NaN
CCCM           3.780482  208.375000  0.191976  276.899994  0.065540
NICAM         13.642136  265.386230  0.095098  278.864560  0.060092
FV3            2.529451  279.189484  0.107903  283.719600  0.102912
ICON           2.066994  275.937500  0.267066  278.390625  0.235861
SAM            6.237429  280.699615  0.101615  285.630250  0.082513